app-test-2-cicd/src/main/mule/app-test-2-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="38fe183e-484d-485a-9bac-962125f6a55b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="app-test-2-cicdFlow" doc:id="a0b9673a-6538-4636-84f0-d19ca7999c92" >
		<http:listener doc:name="Listener" doc:id="e83081aa-e52a-4754-95f5-e0426e4c1dfe" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["Processing with continuous integration"]' doc:name="Set Payload" doc:id="669a1a27-c6e9-45b1-a1ec-7a5ebad1259f" />
		<logger level="INFO" doc:name="Logger" doc:id="c4125a54-f255-4c13-8a51-c718d76a0703" message="#[payload]"/>
	</flow>
</mule>
